[submodule "pcb_files/kicad_project/main/custom_libraries"]
	path = pcb_files/kicad_project/main/custom_libraries
	url = https://github.com/OPRobots/KiCADLibraries.git
[submodule "pcb_files/kicad_project/sensors_24/custom_libraries"]
	path = pcb_files/kicad_project/sensors_24/custom_libraries
	url = https://github.com/OPRobots/KiCADLibraries.git
